## ■ 나이브 베이즈 알고리즘을 파이썬을 해결하기 위한 기본 문제들

## 문제1. 판다스의 crosstab이 무엇인지 확인하시오~

In [1]:
ㅠimport numpy as np

import pandas as pd

x = np.array([1, 1, 1, 1, 2, 2])

y = np.array(["a", "a", "b", "a", "a", "b"])

print(x)

pd.crosstab(x, y, rownames = ['x'], colnames = ['y'])

[1 1 1 1 2 2]

y  a  b
x
1  3  1
2  1  1

## 문제2. emp_comm.csv 데이터를 읽어서 부서번호별 직업별 인원수를 출력하시오~(cross table 생성)

In [4]:
import pandas as pd

import numpy as np 

emp = pd.read_csv("d:\data\\emp_comm.csv")

x=np.array(emp["deptno"]) # 부서번호 데이터만 가져와서 numpy 배열 생성
print(x)
y=np.array(emp["job"]) # 직업 데이터만 가져와서 numpy 배열 생성
print(y)
pd.crosstab(x, y, rownames = ['x'], colnames = ['y'])

[10 30 10 20 30 30 30 30 30 20 20 20 20 10]
['PRESIDENT' 'MANAGER' 'MANAGER' 'MANAGER' 'SALESMAN' 'SALESMAN'
 'SALESMAN' 'CLERK' 'SALESMAN' 'ANALYST' 'CLERK' 'ANALYST' 'CLERK' 'CLERK']

y   ANALYST  CLERK  MANAGER  PRESIDENT  SALESMAN
x
10        0      1        1          1         0
20        2      2        1          0         0
30        0      1        1          0         4

## 문제3. 밑에 토탈이 나오게 하려면 ?

In [6]:
import pandas as pd

import numpy as np 

emp = pd.read_csv("d:\data\\emp_comm.csv")





x=np.array(emp["deptno"])

y=np.array(emp["job"])



ct = pd.crosstab(x, y, rownames = ['x'], colnames = ['y'], margins=True)
print(ct)

y    ANALYST  CLERK  MANAGER  PRESIDENT  SALESMAN  All
x
10         0      1        1          1         0    3
20         2      2        1          0         0    5
30         0      1        1          0         4    6
All        2      4        3          1         4   14

## 문제4. 비아그라가 포함된 메일 데이터로 수행 ?

In [7]:
import pandas as pd

import numpy as np 

mail = pd.read_csv("d:\data\\mail_naive.csv")

x=np.array(mail["mail_type"])
y=np.array(mail["viagra_yn"])

ct = pd.crosstab(x, y, rownames = ['x'], colnames = ['y'], margins=True)
print(ct)

y     no  yes  All
x
ham   79    1   80
spam  16    4   20
All   95    5  100

## 문제5. 위에서 78 을 출력하시오 !

In [9]:
import pandas as pd

import numpy as np 

mail = pd.read_csv("d:\data\\mail_naive.csv")

x=np.array(mail["mail_type"])
y=np.array(mail["viagra_yn"])

ct = pd.crosstab(x, y, rownames = ['x'], colnames = ['y'], margins=True)

print(ct['no']['ham'])

79

## 문제6.  P(스팸 | 비아그라 )  ?

In [10]:
import pandas as pd

import numpy as np 

mail = pd.read_csv("d:\data\\mail_naive.csv")



x=np.array(mail["mail_type"])

y=np.array(mail["viagra_yn"])

ct = pd.crosstab(x, y, rownames = ['x'], colnames = ['y'], margins=True)

print(ct)



a = ct['yes']['spam'] / ( ct['All']['spam'])  
b = ct['All']['spam']/ct['All']['All'] 
c = ct['yes']['All']/ct['All']['All'] 
d = a * b / c 

print(d)

y     no  yes  All
x
ham   79    1   80
spam  16    4   20
All   95    5  100
0.8000000000000002

## ■ 나이브 베이즈 알고리즘을 파이썬으로 구현하세요 ~ 

print(naivebayes())    

오한이 있습니까 ? Y  
콧물이 있습니까 ? N  
두통이 있습니까? Mild  
열이 있습니까 ? N

In [11]:
import pandas as pd
import numpy as np 

def naivebayes():
    try:

       a = input('오한이 있습니까?') 
       b = input('콧물이 있습니까?') 
       c = input('두통이 있습니까?') 
       d = input('열이 있습니까?') 

       flu = pd.read_csv("d:\data\\flu.csv")
    
       x_1 = np.array(flu['chills'])
       x_2 = np.array(flu['runny_nose'])
       x_3 = np.array(flu['headache'])
       x_4 = np.array(flu['fever'])

       y = np.array(flu["flue"])

        

        

       ct1 = pd.crosstab(y, x_1, rownames = ['Flue'], colnames = ['chills'], margins=True)
       ct2 = pd.crosstab(y, x_2, rownames = ['Flue'], colnames = ['runny nose'], margins=True)
       ct3 = pd.crosstab(y, x_3, rownames = ['Flue'], colnames = ['headache'], margins=True)
       ct4 = pd.crosstab(y, x_4, rownames = ['Flue'], colnames = ['fever'], margins=True)

       

       tmp1 = ct1['N']['Y'] + ct1['Y']['Y']
       tmp2 = (ct1[a]['Y']/tmp1) * (ct2[b]['Y']/tmp1) * (ct3[c]['Y']/tmp1) * (ct4[d]['Y']/tmp1)
       tmp3 = (ct1['Y']['All']+ct1['N']['All']) / (ct1['N']['N'] + ct1['Y']['N'])

       

       tmp4 = ct1['All']['N']
       tmp5 = (ct1[a]['Y']/tmp4) * (ct2[b]['Y']/tmp4) * (ct3[c]['Y']/tmp4) * (ct4[d]['Y']/tmp4)
       tmp6 = (ct1['Y']['N']+ct1['N']['N']) / (ct1['N']['N'] + ct1['Y']['N'])

       

       answer1 = tmp2 * tmp3
       answer2 = tmp5 * tmp6

       

       result = answer1 /(answer1+answer2)
       print(result)

       if result > 0.5:   
           return '독감이 맞습니다.'

       else:
           return '독감이 아닙니다.'

    except:
        return '다시 입력하시오.'

        

print(naivebayes())

오한이 있습니까?Y
콧물이 있습니까?N
두통이 있습니까?Mild
열이 있습니까?N
0.2568370986920333
독감이 아닙니다.